
#new-products{
margin: auto;
  width: 50%;
  text-align: center;
}

.hr-top{
  width: 30px
}

.hr-bottom{
  width: 40vw
}

.static-button{
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto
}


