@import './variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

:root {
  --chums-red: #d0112b;
  --mountain-footer-height: 130px;

  --footer-links-height: 40px;
  --footer-contacts-padding: 1.5rem;
  --social-icon-size: 25px;
  --footer-top-margin: 0;
}


a {
  &.pdf,
  &.pdf-icon {
    background: url($cdn + "/images/icons/Adobe_PDF_file_icon_24x24.png") center right no-repeat;
    padding: 0 2rem 0 0;
    background-size: contain;
  }

  &.xls,
  &.xlsx,
  &.xlsx-icon {
    background: url($cdn + "/images/icons/Microsoft_Excel_2013_logo.svg") center right no-repeat;
    padding: 0 2rem 0 0;
    background-size: contain;
  }

  &.ppt,
  &.ppt-icon,
  &.pptx-icon,
  &.pptx {
    background: url($cdn + "/images/icons/Microsoft_PowerPoint_2013_logo.svg") center right no-repeat;
    padding: 0 2rem 0 0;
    background-size: contain;
  }

  &.external {
    background: url($cdn + "/images/generic/external.png") center right no-repeat;
    padding: 0 2rem 0 0;
    background-size: contain;
  }

}

.page-customer-resources,
.page-chums-reps,
.page-bc-reps {
  section {
    margin-bottom: 3rem;
  }

  h4 {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: $text-color;
  }
}

.usage-policy-container,
.map-policy-container {
  border: 1px solid #dddddd;
  padding: 0.5rem;
  margin-bottom: 1rem;
  h2, h3 {
    font-size: 1rem;
  }
  font-size: 75%;
  max-height: 350px;
  overflow: auto;
}
