@import "variables";


footer.site-footer {
  position: absolute;
  bottom: 0;
  //padding-top: $mountain-footer-height;
  height: calc(#{$footer-links-height} + 2 * #{$footer-contact-padding} + 4 * 1.5rem);
  @include media-breakpoint-down(xs) {
    height: calc(#{$footer-links-height} + 2 * #{$footer-contact-padding} + #{$social-icon-size});
  }
  width: 100%;

  .contact-container {
    height: calc(2 * #{$footer-contact-padding} + 4 * 1.5rem);
    @include media-breakpoint-down(xs) {
      height: calc(2 * #{$footer-contact-padding} + #{$social-icon-size});
    }
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $footer-bg-color;
    color: $footer-color;
    align-items: center;
    @include media-breakpoint-down(xs) {
      justify-content: space-around;
    }


    .contact-address {
      @include media-breakpoint-down(xs) {
        display: none;
      }
      padding: $footer-contact-padding;
      address {
        margin-bottom: 0;
      }
    }

    @import "social-icons";
    .social-icons {
      padding: $footer-contact-padding;
    }
  }

  .bottom-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: $footer-links-bg-color;
    color: $footer-color;
    font-size: small;
    text-transform: uppercase;
    height: $footer-links-height;
    align-items: center;

    .bottom-links {
      margin: 0 0.5rem;
      @include media-breakpoint-down(xs) {
        display: none;
      }
      display: flex;
      flex-wrap: wrap;

      a {
        padding: 0 0.5rem;
        color: $footer-color !important;
        white-space: nowrap;
        &:hover {
          color: $link-color;
        }
      }
    }
    .copyright {
      color: $footer-color;
      padding: 0 0.5rem;
    }
  }




  .warning-banner {
    color: white;
    line-height: 15px;
    height: 15px;
    font-size: xx-small;
  }
}

