@import "variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

.top-bar .nav-item.search {
  display: flex;
  flex: 1 1 auto;
}
.global-search-padder {
  flex: 0 0 $navbar-logo-width;
  max-width: $navbar-logo-max-width;
  position: relative;
  text-align: center;
  padding: 0 $navbar-logo-padding;
  transition: all 250ms ease-in-out 0ms;

  body.scrolled & {
    flex: 0 0 0;
    max-width: 0;
    padding: 0;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.global-search-container {
  padding: 0 0.5rem;
  flex: 1 1 auto;
  position: relative;

  .search-input {
    display: flex;
    flex-wrap: nowrap;
  }

  .form-control {
    &::placeholder {
      color: darken($navbar-top-bar-color, 30%);;
    }
    &.hidden {
      &::placeholder {
        color: darken($navbar-top-bar-color, 10%);
      }
      border-color: transparent;
      background-color: transparent;
    }
  }


  .dropdown-container {
    position: absolute;
    left: 0;
    top: 30px;

    .dropdown-menu {
      max-height: 75vh;
      overflow: auto;
      z-index: 1060;
      &.show {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
      }

      .dropdown-item {
        //width: 99.5%;

        &.active > .search-result {
          border-color: lighten($active-color, 50%);
        }

        .search-result {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          border: 1px solid transparent;


          &:hover {
            color: $chums-red;
          }
          .image-container {
            width: 50px;
            height: 50px;
          }
          .text-container {
            padding-left: 2rem;
            word-break: normal;
          }
        }
        div.row {
          align-items: center;

          img {
            width: 50px;
            height: auto;
          }
        }
      }
    }
  }
}
