.root {
  background: url('../images/RedBar.gif') repeat-x;
  height: 40px;
  text-align: center;
}

.title-container {
  margin: 0 auto;
  padding-top: 9px;
  max-width: $max-content-width;
}

.SocialIcons {
  text-align: right;
  display: inline-block;
  float: right;
  height: 25px;

  .SocialIcon {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 0.5rem;
  }

  .TwitterIcon {
    @extend .SocialIcon;
    background: url('../images/TwitterIcon.png') no-repeat;
  }

  .FacebookIcon {
    @extend .SocialIcon;
    background: url('../images/fbicon.png') no-repeat;
  }

  .InstagramIcon {
    @extend .SocialIcon;
    background: url('../images/instagram-icon.png') no-repeat;
  }

}

//@media only screen and (min-width: $screen-sm-min) {
//  .title {
//    background: url('../images/Tagline.png') no-repeat center center;
//    height: 25px;
//    display: inline-block;
//    width: 100%;
//    text-align: center;
//  }
//}
//
//@media only screen and (max-width: $max-content-width) {
//  .SocialIcons {
//    margin-right: 5px;
//  }
//}
