.material-icons {
  &.md-18 { font-size: 18px; margin-top: -2px; line-height: 1.15;}
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
}

.material-icons-sm {
  &.material-icons,
  .material-icons {
    font-size: 18px;
    line-height: 0.75;
    vertical-align: middle;
  }
}
