@import "./variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../node_modules/bootstrap/scss/mixins/transition";

.chums-navbar-common {
  background-color: $navbar-bg-color;
  color: $navbar-color;

  .material-icons {
    font-size: 1rem;
  }

  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    //font-weight: bold;
    &:not(.dropdown-item):hover {
      color: $navbar-color-hover;
    }
    &.dropdown-item:hover {
      background-color: darken(white, 10%);
    }
  }
  .navbar-nav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .nav-item {
      padding: 0 0.5rem;
      @include media-breakpoint-up(md) {
        padding: 0 1rem;
      }

      text-transform: uppercase;
      flex-grow: 1;
      //text-align: center;
    }
  }
  .subnav-toggle {
    cursor: pointer;
  }
  .dropdown-menu {
    .dropdown-item {
      &.active {
        background-color: white;
        color: $active-color;
      }
    }
  }
}

.site-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5rem;
  @extend .bg-warning;
  color: black;
  text-align: center;
  z-index: 3000;
  & h3 {
    font-size: inherit;

  }

  & + .top-bar {
    top: 1.5rem;
    & + .chums-navbar-container .chums-navbar .main-logo a.nav-link img.scrolled {
        top: calc(5px + 1.5rem);
      }
    }

}

.top-bar {
  @extend .navbar;
  @extend .chums-navbar-common;
  @extend .fixed-top;
  background-color: $navbar-top-bar-bg-color;
  color: $navbar-top-bar-color;
  border-bottom: 1px solid $navbar-separator;
  padding: 5px 15px;
  flex-wrap: nowrap;
  min-height: 50px;
  z-index: 1040;

  &.has-messages {
    top: $global-message-line-height;
  }

  @include media-breakpoint-down(xs) {
    padding: 0;
  }


  .customer-indicator {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    font-weight: normal;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .company-indicator {
      height: 24px;
      width: auto;
      margin-right: 0.5rem;
      display: block;
      margin-top: -1px;
    }

  }

  .cart-name {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  .free-shipping {
    display: none;
  }
  &:not(.scrolled) {
    @include media-breakpoint-up(sm) {
      .main-logo {
        display: none;
      }
    }
    @include media-breakpoint-up(md) {
      .free-shipping {
        display: list-item;
        white-space: normal !important;
      }
    }
  }

  .navbar-nav {
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;

    .nav-item {
      flex-basis: 33%;
      flex-shrink: 1;
      white-space: nowrap;
      .nav-link {
        display: inline-block;
        font-weight: 300;
      }

      &.cart {
        text-align: right;
        .current-customer-indicator {
          display: flex;
          justify-content: flex-end;
        }
      }

      &.search {
        text-align: left;
        .oi {
          margin-left: $icon-margin;
        }
      }

      &.main-logo {
        background-image: url($cdn + '/images/chums/chums-logo-badge-400px.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 0;
        @include transition($transition-fade);
        h1 {
          font-size: 1.5rem;
        }
        a {
          width: 100%;
          height: 100%;
          padding: 0;
        }
        @include media-breakpoint-down(xs) {
          display: none;
        }
      }
    }
  }

  .chums-navbar-toggler {
    @include media-breakpoint-up(sm) {
      display: none;
    }
    @extend .navbar-toggler;
    .navbar-toggler-icon {
      @extend .navbar-toggler-icon;
      background-image: $navbar-dark-toggler-icon-bg;
    }
    padding: 0;
  }

  .social-icons {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    line-height: 0;
    vertical-align: text-bottom;
    .icon {
      a {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.chums-navbar {
  @extend .navbar;
  @extend .chums-navbar-common;
  flex-wrap: nowrap;
  background-color: $navbar-bg-color;
  color: $navbar-color;
  justify-content: center;

  margin-top: 40px;

  //z-index: 1035;
  &.has-messages {
    margin-top: 65px;
  }

  .nav-left-container {
    flex: 1 1 100%;
    .navbar-nav {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      @include media-breakpoint-up(sm) {
        flex-direction: row;
        justify-content: flex-start;
      }
      .nav-item {
        flex-grow: 0;
        z-index: 1035;
        transition: all 0.35s ease-in-out;
        margin-top: 5px;
        &.show {
          color: $chums-red;
          font-weight: 700;
          .nav-link {
            font-weight: 700;
          }
        }
      }
    }
  }
  .nav-right-container {
    flex: 0 0 calc(50% - 110px);
    .navbar-nav {
      flex-direction: row;
      justify-content: flex-end;
      .nav-item {
        flex-grow: 0;
        z-index: 1035;
        transition: all 0.35s ease-in-out;
        margin-top: 5px;
      }
    }
  }
  .main-logo {
    flex: 0 0 $navbar-logo-width;
    max-width: $navbar-logo-max-width;
    position: relative;
    text-align: center;
    padding: 0 $navbar-logo-padding;
    @include media-breakpoint-down(md) {
      padding: 0 ($navbar-logo-padding / 4);
    }
    transition: all 250ms ease-in-out 0ms;
    h1 {
      margin-bottom: 0;
    }

    &.main-logo--hidden {
      opacity: 0;
    }

    a.nav-link {
      position: relative;
      padding: 0;
      z-index: 1050;

      img {
        height: 40px;
        width: auto;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto auto;
        transition: all 0.35s ease-in-out;
        //margin-top: ;

        @include media-breakpoint-up(sm) {
          display: block;
          //position: fixed;
          top: 10px;
          left: 0;
          right: 0;
          width: 100%;
          height: auto;
          &.scrolled {
            position: fixed;
            top: 5px;
            margin-top: 0;
            left: 0;
            right: 0;
            width: auto;
            height: 40px;
          }
        }
      }

    }
    .nav-link {
    }
    h1.text-hide {
      display: inline-block;
      background-image: url($cdn + '/images/chums/chums-logo-badge-400px.png');
      width: 153px;
      height: 69px;
      margin-bottom: 0;
      background-size: contain;
    }
  }


  .navbar-nav {
    flex-wrap: nowrap;
    .nav-item {
      @include media-breakpoint-down(xs) {
        & {
          //display: none;
        }
        &.main-logo {
          display: none;
        }
      }
      .nav-link {
        font-weight: 400;
      }
      &.active {
        .nav-link {
          font-weight: 700;
        }
      }
      &.main-logo {
        .nav-link {
          padding: 0;
          line-height: 0;
          flex-grow: 1;
          flex-shrink: 1;
        }
      }
    }

    h1.text-hide {
      display: inline-block;
      background-image: url($cdn + '/images/chums/chums-logo-badge-400px.png');
      width: 153px;
      height: 69px;
      margin-bottom: 0;
      background-size: contain;
    }
  }
}

.chums-navbar-collapse {
  @extend .chums-navbar-common;
  @extend .navbar-collapse;
  //max-width: 1199.98px;
  border-top: 1px solid $navbar-separator;
  color: #222222;
  background-color: white;
  a:not(.dropdown-item):hover {
    color: #000000;
  }
  &.show {
    @include media-breakpoint-down(xs) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .nav-item {
    text-align: center;
  }
}

#navbarToggleXSDropDown {
  @extend .fixed-top;
  top: 40px;
  width: 50%;
  @include media-breakpoint-up(sm) {
    .navbar-nav {
      flex-wrap: nowrap;
    }
    & {
      display: none;
    }
  }
  @include media-breakpoint-down(xs) {
    .navbar-nav {
      flex-direction: column;
    }
  }
}

.chums-subnavbar {
  position: relative;
  z-index: 1000;


  > .chums-subnavbar-collapse {
    &.collapsing,
    &.show {
      position: absolute;
      width: 100%;
      box-shadow: 0 10px 10px rgba(0,0,0,0.5);
      border-top: 1px solid rgba(0,0,0,0.25);
      > .navbar-nav {
        padding: 1rem;
        @extend .container;
        @include media-breakpoint-up(sm) {
          padding-top: 1rem;
          display: flex;
          flex-direction: row;
        }
      }
    }
    border-bottom: 1px solid $subnav-bottom-border-color;

    @extend .chums-navbar-common;
    @extend .navbar-collapse;
    background-color: $subnav-background-color;
    color: black;

    .navbar-nav {
      flex-wrap: wrap;
      align-items: stretch;
      padding-bottom: 0.5rem;
      flex-direction: row;
      padding-top: 5px;
      margin: auto;
      @include media-breakpoint-up(md) {
        max-width: 95vw;
      }
      @include media-breakpoint-up(lg) {
        max-width: 950px;
      }

      @include media-breakpoint-down(xs) {
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
      }
      &.navbar-products {
        .nav-item.nav-col-4 {
          flex-basis: 20%;
        }
        .nav-item.menu-section {
          font-size: 1.25rem !important;
          font-weight: bold !important;
          color: black !important;
        }
      }
      &.navbar-orders {
        .nav-item.nav-col-4 {
          //flex: 0 1 auto;
        }

      }
      .nav-item {
        padding: 0 1.5rem;
        flex-grow: 0;
        @include media-breakpoint-down(xs) {
          padding: 0 .5rem;
        }

        &.nav-col-4 {
          height: auto;
          flex: 1 1 auto;

          .nav-link:first-child {
            font-size: 1.25rem;
            font-weight: 700;
            text-align: left;
            &:hover {
              color: black;
            }
          }
          .navbar-nav {
            flex-direction: column;
            .nav-item {
              align-self: flex-start;
              font-size: 0.95rem;
              padding: 0;
              font-weight: 700;
              color: lighten(black, 50%);
              line-height: 1.75rem;

              img.company-indicator {
                height: 1.25rem;
                width: auto;
              }
              .account-number {
                width: 4.5rem;
                display: inline-block;
                text-align: left;
                white-space: nowrap;
              }
              &:hover a {
                color: $link-color;
              }
            }
          }
        }

      }
    }

  }



  @include media-breakpoint-down(xs) {
    //position: fixed;
    //z-index: $zindex-fixed;
    //width: 50%;
    //margin-left: 50%;
    //top:40px;
    justify-content: flex-end;
    .chums-navbar-collapse {
      .navbar-nav {
        flex-direction: column;
      }
      .nav-item {
        padding: 0;
      }
    }
  }
}

.chums-navbar-dropdown {
  .chums-subnav {
    @extend .chums-navbar;
    background-color: $navbar-sub-bg-color;
  }
}
