@import './variables.scss';
@import "./carousel.scss";

$product-image-width: 400px;
$product-info-panel-width: 340px;
$product-image-panel-width: 400px;
$product-minicart-panel-width: 200px;

.season-teaser {
  display: block;
  text-align: left;
  //margin-bottom: 0.5rem;
  min-height: 1.5rem;
  color: $text-color;
  &--icon {
    color: $chums-red;
  }
}

.category-panel {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .col-sm-3 {
      @include media-breakpoint-up(sm) {
        flex: 0 0 25%;
      }
    }
    .category-section {
      flex: 0 0 100%;
      margin-top: 1rem;
      padding-left: 15px;
      padding-right: 15px;
    }

    .product-2 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .no-text {
      .product-title,
      .description {
        display: none;
      }
    }

    .vertical-middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .category {
    padding: 5px;

    .main-image {
      width: 100%;
      height: auto;
    }

    .product-title {
      font-weight: bold;
      font-size: large;
      text-align: center;
    }
    .description {
      //min-height: 115px;
      text-align: center;
    }
    .season-teaser {
      text-align: center;
    }
  }

  .jetset-parallax {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    height: 33vh;
    background: 50% 50% / cover no-repeat url(//cdn.chums.com/images/chums/lifestyle/bar/jetset-products.jpg) fixed;
    .description,
    .product-title {
      display: none;
    }
  }

}

.product-panel {
  h1.product-name {
    margin-bottom: 0.25rem;
    font-size: 2.3rem;
    font-weight: bold;
    color: black;
    span.red-35 {
      color: $chums-red !important;
    }
  }

  h2.product-subtitle {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $label-color;
    font-weight: 300;
  }

  .product-image-container {
    @media screen and (min-width: 1200px){
      margin-right: 15%;
    }
  }


  .details {
    display: flex;
    justify-content: space-between;

    label {color: $label-color; margin-right: 1rem;}
    .info {
      font-weight: bold;
      color: #000;
    }
  }

  .details-toggle {
    cursor: pointer;
    margin: 10px 0;
    span.glyphicon {
      padding-left: 10px;
    }
  }
  @import "variants";



  #section-colors {
    text-align: center;
  }

  .add-to-cart {
    margin-top: 0.5rem;

    .details table {
      width: 100%;
      td:last-child {
        text-align: right;
      }
    }
  }

  table.user-pricing {
    tr.item-code {
      display: none;
    }
  }

  .main-image {
    width: 100%;
    height: auto;
    &.loading {
      @extend .loading-spinner;
    }
  }

  .cart-qty-input {
    flex-wrap: nowrap;
    flex-direction: row;
    .cart-qty--buttons {
      display: flex;
      flex-direction: column;
      button {
        flex: 0 0 auto;
        height: 50%;
        line-height: 0.25rem;
        font-size: 0.5rem;
        width: 2rem;
      }
    }
    input.form-control {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      min-width: 4rem;
      width: 100%;
      text-align: right;
    }

    justify-content: stretch;
  }

  @import "swatches";
}


.product-info-panel {
  @extend .product-panel;
  width: $product-info-panel-width;
  .main-image-container {
    display: none;
  }

  @media only screen and (min-width:$screen-xs-min) and (max-width: $screen-sm-min) {
    width: 100%;
    .main-image-container {
      display: inline-block;
      width: 49%;
      float: left;
      img {
        width: 100%;
      }
    }
    .variant-buttons {
      display: inline-block;
      width: 50%;
    }
  }

  @media only screen and (max-width: $screen-xs-min) {
    width: 100%;
    .main-image-container {
      display: block;
      img {
        width: 100%;
      }
    }
    .variant-buttons {
      //max-height: 150px;
      //overflow: auto;
    }
  }

  min-height: 400px;
}

.main-image-container {
  img {border: 1px solid #dddddd}
  margin-bottom: 3px;
}

.product-image-panel {
  @extend .product-panel;
  width: $product-image-panel-width;
  @media only screen and (max-width: $screen-sm-min) {
    display: none;
  }
}

.product-minicart-panel {
  @extend .product-panel;
  width: $product-minicart-panel-width;

  @media only screen and (min-width: $screen-sm-min) {
    display: none;
  }
}

.ba-icon,
.fr-icon {
  float: right;
  margin-left: 1rem;
}

.icon-set {
  float: right;
  display: flex;
  margin-left: 1rem;
  flex-direction: column;

  .icon {
    margin-bottom: 1rem;
    text-align: center;
  }
}


