@import "variables.scss";

tr.kit-component {
  td {
    color: $kit-component;
    font-size: 95%;
    //padding-top: $table-cell-padding-sm / 2 ;
    //padding-bottom: $table-condensed-cell-padding / 2 ;
  }

  td:first-child {
    padding-left: $table-cell-padding * 2;
  }

  td:nth-child(2):before {
    //content: '»';
  }

  td.zero {
    color: $kit-component;
  }
}

td.zero {
  color: $gray;
}

div.action {
  z-index: 1000;
  width: auto;
  background-color: transparent;
  text-align: center;
  padding: 3px;
  height: auto;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: $border-radius;

  .title {
    display: none;
  }

  button {
    margin: 2.5px;
  }
}

div.order-buttons {
  margin-top: 5px;
  text-align: right;
  button {
    margin-right: 10px;
  }
}


//td input[type="number"] {
//  padding-right: 1px;
//  text-align: right;
//}

tfoot {
  td {
    text-align: right;
  }
  tr.total {
    font-weight: bold;
  }
}

.add-to-cart {
  .details table {
    width: 100%;
    td:last-child {
      text-align: right;
    }
  }
}

.order-progress-bar {
  margin: 20px 0 10px;
  .progress {
    margin-bottom: 0;
    height: 5px;
  }
  .order-states {
    display: flex;
    flex-direction: row;

    div {
      flex: 1 1 auto;
      color: $link-color;
      text-align: center;
      font-size: smaller;
      cursor: pointer;
      &.disabled {
        cursor: not-allowed;
        color: $btn-link-disabled-color;
      }
    }
  }
}

.payment-select {
  div.row,
  .form-group {
    margin-bottom: 2px;
    margin-left: -5px;
    margin-right: -5px;
    & label,
    & div {
      padding-left: 5px;
      padding-right: 5px;
    }
/*
    .row {
      margin-left: -1px;
      margin-right: -1px;
      & label,
      & div {
        padding-left: 1px;
        padding-right: 1px;
      }
    }
    */
  }
  .payment-method-icons {
    margin-top: 10px;
    margin-bottom: 10px;

    .card-icon {
      padding-right: 10px;
      img {width: 50px;}
    }
  }

  .card-info {
    text-transform: uppercase;
    font-size: smaller;
    span {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}


.table {
  tr.order-detail {
    &.item-comment {
      td {
        border-top: none;
      }
    }

    th.hidden-xs,
    td.hidden-xs {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    td.action {
      text-align: right;
    }

    .sale {
      color: $chums-red;
    }
  }
}

textarea.cart-comment {
  max-height: 4rem;
}

.checkout-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .btn + .btn {
    margin-left: 0.5rem;
  }
}

.highlight-section {
  @extend .border;
  @extend .border-info;
  //@extend .table-info;
  margin: 0 -0.25rem;
  & > * {
    padding: 0 0.25rem;
  }
}


.action-buttons {
  @include media-breakpoint-down(xs) {
    //@extend .btn-group-vertical;
  }
}

.cart-qty-input {
  flex-wrap: nowrap;
  input.form-control {
    min-width: 4rem;
    width: 4rem;
    text-align: right;
  }

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    justify-content: stretch;
    .input-group-prepend,
    .input-group-append,
    .form-control {
      flex: 1 1 auto;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-top: -1px;
      text-align: right;
      &:first-child {
        margin-top: 0;
      }
      .btn {
        width: 100%;
      }
    }
  }
}

.add-cart-item {
  @include media-breakpoint-down(xs) {
    display: block;
  }
}
