@import "variables";
& {
  .social-icons {
    display: inline-block;
    .instragram-container {
      display: inline-block;
      white-space: nowrap;
    }
    .icon {
      display: inline-block;
      margin-left: 10px;
      vertical-align: text-top;

      a {
        @extend .text-hide;

        display: block;
        width: $social-icon-size;
        height: $social-icon-size;
        background-size: contain;
        background-repeat: no-repeat;
        &.instagram-icon {
          background-image: url($cdn + '/images/bc/icons/instagram-white.png');
        }
        &.pinterst-icon {
          background-image: url($cdn + '/images/bc/icons/pinterest-white.png');
        }
        &.twitter-icon {
          background-image: url($cdn + '/images/bc/icons/twitter-white.png');
        }
        &.facebook-icon {
          background-image: url($cdn + '/images/bc/icons/facebook-white.png');
        }

        &.instagram-grey-icon {
          background-image: url($cdn + '/images/bc/icons/instagram-grey.png');
        }
        &.www-grey-icon {
          background-image: url($cdn + '/images/bc/icons/www-grey.png');
        }
        &.fb-grey-icon {
          background-image: url($cdn + '/images/bc/icons/fb-grey-icon.png');
        }
      }
    }
  }
}
