
.variants-container {
  //max-height: 130px;
  //overflow: auto;
  margin-bottom: 1rem;

  .variant-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:disabled {
      color: #212529;
    }
    div {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }

  .btn-group {
    display: flex;
    .dropdown-menu {
      margin-top: 40px;
      padding: 0;
      border: none;
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;
      width: available;
      padding-bottom: 0.5rem;
      background-color: rgba(255,255,255,0.75);
    }
  }
  .variant {
    @extend .btn !optional;
    @extend .btn-sm !optional;
    @extend .btn-outline-secondary !optional;
    background-color: white;
    &:not(:last-of-type) {
      border-bottom: none;
    }
    @extend .btn-outline-secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      padding-right: 3rem;
    }
    .msrp {
      font-weight: bold;
    }
  }
}
